<h2>广告><%= link_to "返回", root_path %></h2>

<%= form_tag import_guanggaos_path, :multipart => true do %>
  <%= file_field_tag "csv_file", :class => "btn btn-primary btn-xs",style:"float:left" %>
  <%= submit_tag "导入csv", :class => "btn btn-warning btn-xs" %>
  <%= link_to "导出xlsx", guanggaos_path(:format => :xlsx), :class => "btn btn-danger btn-xs" %>
  <%= link_to "导出csv", guanggaos_path(:format => :csv), :class => "btn btn-info btn-xs" %>
<% end %>

<div style="float:left">
  <%= search_form_for @q do |f| %>
    <%= f.search_field :guanggao_huodongmingcheng_or_guanggaozu_mingcheng_or_pipeileixing_or_kehu_sousuoci_cont %>
    <%= f.submit %>
  <% end %>
</div>

<div class="btn-group" style="float:left; margin-top:2px;">
  <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    排序 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><%= sort_link(@q, :riqi, '日期') %></li>
    <li><%= sort_link(@q, :huobi, '货币') %></li>
    <li><%= sort_link(@q, :guanggao_huodongmingcheng, '广告活动名称') %></li>
    <li><%= sort_link(@q, :guanggaozu_mingcheng, '广告组名称') %></li>
    <li><%= sort_link(@q, :guanjianzi, '关键字') %></li>
    <li><%= sort_link(@q, :pipeileixing, '匹配类型') %></li>
    <li><%= sort_link(@q, :kehu_sousuoci, '客户搜索词') %></li>
    <li><%= sort_link(@q, :zhanxianliang, '展现量') %></li>
    <li><%= sort_link(@q, :dianjiliang, '点击量') %></li>
    <li><%= sort_link(@q, :dianjilv, '点击率(CTR)') %></li>
    <li><%= sort_link(@q, :meicidianji_chengben, '每次点击成本(CPC)') %></li>
    <li><%= sort_link(@q, :huafei, '花费') %></li>
    <li><%= sort_link(@q, :qitian_zongxiaoshoue, '7天总销售额($)') %></li>
    <li><%= sort_link(@q, :guanggao_chengben_xiaoshoubi, '广告成本销售比(ACoS)') %></li>
    <li><%= sort_link(@q, :touruchanchubi, '投入产出比(RoAS)') %></li>
    <li><%= sort_link(@q, :qitian_zongdingdanshu, '7天总订单数') %></li>
    <li><%= sort_link(@q, :qitian_zongxiaoshouliang, '7天总销售量') %></li>
    <li><%= sort_link(@q, :qitian_zhuanhualv, '7天转化率') %></li>
    <li><%= sort_link(@q, :qitiannei_guanggao_sku_xiaoshouliang, '7天内广告sku销售量') %></li>
    <li><%= sort_link(@q, :qitiannei_qita_sku_xiaoshouliang, '7天内其他sku销售量') %></li>
    <li><%= sort_link(@q, :qitiannei_guanggao_sku_xiaoshoue, '7天内广告sku销售额($)') %></li>
    <li><%= sort_link(@q, :qitiannei_qita_sku_xiaoshoue, '7天内其他sku销售额($)') %></li>
  </ul>
</div>

<%= form_tag gg_update_guanggaos_path do %>
  <div class="pull-right">
    <!-- <%= submit_tag "删除", class:'btn btn-info btn-xs' %> -->
    <%= link_to('新增', new_guanggao_path, class:'btn btn-success btn-xs') %>
    <%= link_to('全部删除', clean_guanggaos_path, class:'btn btn-danger btn-xs', method: :post, data:{confirm:'确认全部删除？'}) %>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>id</th>
        <th>日期</th>
        <th>货币</th>
        <th>广告活动名称</th>
        <th>广告组名称</th>
        <th>关键字</th>
        <th>匹配类型</th>
        <th>客户搜索词</th>
        <th>展现量</th>
        <th>点击量</th>
        <th>点击率(CTR)</th>
        <th>每次点击成本(CPC)</th>
        <th>花费</th>
        <th>7天总销售额($)</th>
        <th>广告成本销售比(ACoS)</th>
        <th>投入产出比(RoAS)</th>
        <th>7天总订单数</th>
        <th>7天总销售量</th>
        <th>7天转化率</th>
        <th>7天内广告sku销售量</th>
        <th>7天内其他sku销售量</th>
        <th>7天内广告sku销售额($)</th>
        <th>7天内其他sku销售额($)</th>
        <th>管理</th>
      </tr>
    </thead>
    <% @guanggaos.each do |g| %>
      <tbody>
        <tr>
          <!-- <td><%= check_box_tag "ids[]", g.id, false %></td>  -->
          <td><%= g.id %></td>
          <td><%= g.riqi %></td>
          <td><%= g.huobi %></td>
          <td><%= g.guanggao_huodongmingcheng %></td>
          <td><%= g.guanggaozu_mingcheng %></td>
          <td><%= g.guanjianzi %></td>
          <td><%= g.pipeileixing %></td>
          <td><%= g.kehu_sousuoci %></td>
          <td><%= g.zhanxianliang %></td>
          <td><%= g.dianjiliang %></td>
          <td><%= g.dianjilv %></td>
          <td><%= g.meicidianji_chengben %></td>
          <td><%= g.huafei %></td>
          <td><%= g.qitian_zongxiaoshoue %></td>
          <td><%= g.guanggao_chengben_xiaoshoubi %></td>
          <td><%= g.touruchanchubi %></td>
          <td><%= g.qitian_zongdingdanshu %></td>
          <td><%= g.qitian_zongxiaoshouliang %></td>
          <td><%= g.qitian_zhuanhualv %></td>
          <td><%= g.qitiannei_guanggao_sku_xiaoshouliang %></td>
          <td><%= g.qitiannei_qita_sku_xiaoshouliang %></td>
          <td><%= g.qitiannei_guanggao_sku_xiaoshoue %></td>
          <td><%= g.qitiannei_qita_sku_xiaoshoue %></td>
          <td>
            <%= link_to('编辑', edit_guanggao_path(g), class:'btn btn-info btn-xs') %>
            <%= link_to('删除', guanggao_path(g), class:'btn btn-danger btn-xs', method: :delete, data:{confirm:'确认全部删除？'}) %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
<% end %>

<div class="text-center">
  <%= will_paginate @guanggaos %>
</div>
