<h2>广告><%= link_to "返回", root_path %></h2>

<%= form_tag import_guanggaos_path, :multipart => true do %>
  <%= file_field_tag "csv_file", :class => "btn btn-primary btn-xs",style:"float:left" %>
  <%= submit_tag "导入CSV", :class => "btn btn-primary btn-xs" %>
  <%= link_to "导出xlsx", guanggaos_path(:format => :xlsx), :class => "btn btn-danger btn-xs" %>
<% end %>



<div style="float:left">
  <%= search_form_for @q do |f| %>
    <%= f.search_field :huobi_or_guanjianzi_cont %>
    <%= f.submit %>
  <% end %>
</div>

<div class="btn-group" style="float:left; margin-top:2px;">
  <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    排序 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><%= sort_link(@q, :huobi, '货币') %></li>
    <li><%= sort_link(@q, :guanjianzi, '关键字') %></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>

<%= form_tag gg_update_guanggaos_path do %>
  <div class="pull-right">
    <!-- <%= submit_tag "删除", class:'btn btn-info btn-xs' %> -->
    <%= link_to('新增', new_guanggao_path, class:'btn btn-success btn-xs') %>
    <%= link_to('全部删除', clean_guanggaos_path, class:'btn btn-danger btn-xs', method: :post, data:{confirm:'确认全部删除？'}) %>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>货币</th>
        <th>关键词</th>
        <th>管理</th>
      </tr>
    </thead>
    <% @guanggaos.each do |g| %>
      <tbody>
        <tr>
          <td><%= check_box_tag "ids[]", g.id, false %></td>
          <td><%= link_to(g.huobi) %></td>
          <td><%= link_to(g.guanjianzi, guanggao_path(g)) %></td>
          <td>
            <%= link_to('编辑', edit_guanggao_path(g), class:'btn btn-info btn-xs') %>
            <%= link_to('删除', guanggao_path(g), class:'btn btn-warning btn-xs', method: :delete) %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
<% end %>

<div class="text-center">
  <%= will_paginate @guanggaos %>
</div>
