<h2>广告><%= link_to "返回", root_path %></h2>

<%= link_to('新增广告', new_guanggao_path, class:'btn btn-danger btn-xs') %>
<%= link_to('全部删除', clean_guanggaos_path, class:'btn btn-danger btn-xs', method: :delete, data:{confirm:'确认全部删除？'}) %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>货币</th>
      <th>关键词</th>
      <th>管理</th>
    </tr>
  </thead>
  <% @guanggaos.each do |g| %>
    <tbody>
      <tr>
        <td><%= link_to(g.huobi) %></td>
        <td><%= link_to(g.guanjianzi, guanggao_path(g)) %></td>
        <td>
          <%= link_to('编辑', edit_guanggao_path(g), class:'btn btn-danger btn-xs') %>
          <%= link_to('删除', guanggao_path(g), class:'btn btn-danger btn-xs', method: :delete) %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>

<div class="text-center">
  <%= will_paginate @posts %>
</div>
